@import "../../scss/config/mixins";
@import "../../scss/config/function";
@import "../../scss/config/variables";

.polygon {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  //fill: $white
}

.polygon_bottom {
  position: absolute;
  left: 0;
  width: 100%;
  bottom: 0;
  //fill: $white
}