@import "../../../scss/config/mixins";
@import "../../../scss/config/function";
@import "../../../scss/config/variables";

.works {
  background-color: $light-gray;
  position: relative;
  height: 120vh !important;
  padding-bottom: rem(80px);
}

.container {
  padding-top: rem(40px);
}

.title {
  margin-bottom: 60px;
}

.content {
  @include flex(column);
  box-shadow: 0 0 rem(10px) rem(-3px) $black;
  height: 80%;
}

.list {
  @include flex();
  width: 100%;
  margin-bottom: rem(20px);

  @include tablets {
    @include flex(column);
  }
}

.mainButton {
  @include tablets {
    margin-bottom: 60px;
  }
}
