@import "../../scss/config/mixins";
@import "../../scss/config/function";
@import "../../scss/config/variables";

.sectionSubtitle {
  font-size: rem(18px);
  @include oswald();
  letter-spacing: rem(3px);
  text-transform: uppercase;
  text-align: center;
}

.sectionSubtitle_color_white {
  @extend .sectionSubtitle;
  color: $white;
  text-align: center;
}