@import "../../scss/config/mixins";
@import "../../scss/config/function";
@import "../../scss/config/variables";

.sectionSubtitle {
  font-size: rem(20px);
  @include oswald();
  letter-spacing: rem(3px);
  text-transform: uppercase;
}

.sectionSubtitle_color_white {
  font-size: rem(20px);
  @include oswald();
  letter-spacing: rem(3px);
  text-transform: uppercase;
  color: $white;
}