@import "../../scss/config/mixins";
@import "../../scss/config/function";
@import "../../scss/config/variables";

.hamburgerMenu {
  display: none;

  @include tablets {
    display: block;
  }
}

.item {
  display: block;
  background-color: $black;
  width: rem(30px);
  height: rem(4px);
  margin-bottom: rem(5px);
  border-radius: rem(5px);


  &:last-child {
    margin-bottom: 0;
  }
}