@import "../../scss/config/mixins";
@import "../../scss/config/function";
@import "../../scss/config/variables";

.itemContainer {
  width: 100%;
  height: 100%;
  display: flex;
  background-color: $white;
  @include flex(column);
  padding: rem(40px) rem(20px) rem(40px) rem(20px);
}

.workImg {
  width: 100%;
  height: 90%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  @include tablets {
    height: 30%;
  }
}

.descContainer {
  @include flex(column, center);
}

.descText1 {
  margin: rem(20px) 0;
  text-align: center;
  @include glacial(regularItalic);
}

.descText2 {
  margin-bottom: rem(20px);
  text-align: center;
  @include glacial(bold);
}

.socialsContainer {
  display: flex;
  margin-top: rem(20px);

  @include phones {
    margin: rem(20px) 0;
  }
}
