@import "../../../scss/config/mixins";
@import "../../../scss/config/function";
@import "../../../scss/config/variables";

.parallax {
  background-color: $light-gray;
  height: rem(630px);
  width: 100%;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

  @include tablets {
    background-position: center;
    background-attachment: unset;
  }
}