@import "../../scss/config/mixins";
@import "../../scss/config/function";
@import "../../scss/config/variables"
;
.logo {
  background-color: $red;
  padding: rem(5px) rem(20px);
  border-radius: rem(20px) 0 rem(20px) 0;
  display: inline-block;
  width: rem(120px);
  text-align: center;
  cursor: pointer;
}

.logo_color_white {
  @extend .logo;
  background-color: $white;
  color: $red;
}

.text {
  color: $white;
  font-size: rem(26px);
  font-weight: bold;
  @include oswald(bold);
  letter-spacing: rem(2px);

  &_color_red {
    color: $red;

  }
}

.text_color_red {
  color: $red;
  font-size: rem(26px);
  font-weight: bold;
  @include oswald(bold);
  letter-spacing: rem(2px);
}
