@import "../config/function";
@import "../config/mixins";
@import "../config/variables";

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.container {
  width: 100%;
  max-width: rem(1024px);
  height: 100%;
  margin: 0 auto;
  padding: 0 rem(15px);
}

.section {
  height: 100vh;
  min-height: rem(650px);
  overflow: hidden;
  padding-top: rem(80px);
}

// for carousel
.sc-gKsewC {
  border-radius: 5px;
  cursor: pointer;
}
