//oswald
@font-face {
  font-family: 'oswald';
  src: url('../../assets/fonts/oswald-bold-webfont.woff2') format('woff2'),
       url('../../assets/fonts/oswald-bold-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'oswald';
  src: url('../../assets/fonts/oswald-bolditalic-webfont.woff2') format('woff2'),
       url('../../assets/fonts/oswald-bolditalic-webfont.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'oswald';
  src: url('../../assets/fonts/oswald-light-webfont.woff2') format('woff2'),
       url('../../assets/fonts/oswald-light-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'oswaldl';
  src: url('../../assets/fonts/oswald-lightitalic-webfont.woff2') format('woff2'),
       url('../../assets/fonts/oswald-lightitalic-webfont.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'oswald';
  src: url('../../assets/fonts/oswald-medium-webfont.woff2') format('woff2'),
       url('../../assets/fonts/oswald-medium-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'oswald';
  src: url('../../assets/fonts/oswald-mediumitalic-webfont.woff2') format('woff2'),
       url('../../assets/fonts/oswald-mediumitalic-webfont.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'oswald';
  src: url('../../assets/fonts/oswald-regular-webfont.woff2') format('woff2'),
       url('../../assets/fonts/oswald-regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;

}

@font-face {
  font-family: 'oswald';
  src: url('../../assets/fonts/oswald-regularitalic-webfont.woff2') format('woff2'),
       url('../../assets/fonts/oswald-regularitalic-webfont.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

//glacial
@font-face {
  font-family: 'glacial';
  src: url('../../assets/fonts/glacialindifference-regular-webfont.woff2') format('woff2'),
       url('../../assets/fonts/glacialindifference-regular-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'glacial';
  src: url('../../assets/fonts/glacialindifference-italic-webfont.woff2') format('woff2'),
       url('../../assets/fonts/glacialindifference-italic-webfont.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'glacial';
  src: url('../../assets/fonts/glacialindifference-bold-webfont.woff2') format('woff2'),
       url('../../assets/fonts/glacialindifference-bold-webfont.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}







