@import "../../../scss/config/mixins";
@import "../../../scss/config/function";
@import "../../../scss/config/variables";

.contacts {
  background-color: $white;
  position: relative;
}

.container {
  padding-top: rem(40px);
}

.content {
  @include flex();
  height: 100%;
  width: 100%;
  //margin-right: rem(-15px);
  //margin-left: rem(-15px);
}
.contentImageContainer {
  width: 50%;
  @include flex();

  @include tablets() {
    display: none;
  }
}

.contentImage {
  width: rem(400px);
  height: rem(400px);
}

.formContainer {
  width: 50%;
  @include flex();

  @include tablets {
    width: 100%;
  }
}




