@import "../../../scss/config/mixins";
@import "../../../scss/config/function";
@import "../../../scss/config/variables";

.contacts {
  background-color: $light-gray;
  position: relative;
}

.container {
  padding-top: rem(40px);
}

.content {
  @include flex(column);
  height: 100%;
  //margin-right: rem(-15px);
  //margin-left: rem(-15px);
}


