@import "../../scss/config/mixins";
@import "../../scss/config/function";
@import "../../scss/config/variables";

.header {
  width: 100%;
  height: rem(100px);
  
  position: absolute;
  z-index: 1001;
  
}

.header_fixed {
  height: rem(70px);
  @extend .header;
  position: fixed;
  background-color: rgba($white, 0.9);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 rem(20px) rem(-5px) $black;
}

.container {
  display: flex;
  align-items: center;
  width: 100%;

  @include tablets {
    padding: 0 rem(30px);
  }
}

.imgPic {
  max-width: 15%;
  border-radius: 50%;
  margin-right: rem(5px);

  @include phones {
    max-width: 20%;
  }
}

.greetingContainer {
  @include flex(row, flex-start, flex-start)
}

.greeting {
  background-color: rgba($blue, 0.9);
  padding: rem(5px) rem(20px);
  border-radius: rem(20px) rem(20px) rem(20px) 0;
  display: block;
  width: rem(140px);
  text-align: center;
}

.greetingText {
  color: $white;
  font-size: rem(16px);
}

.nav {
  margin-left: auto;

  @include tablets {
    margin-right: 0;
    order: 1;
    margin-left: 0;
  }
}

.list {
  display: flex;

  @include tablets {
    display: none;
  }
}

.themeMode {
  @include tablets {
    margin-left: auto;
    margin-right: rem(40px);
  }
}

.link {
  color: $black;
  font-size: rem(18px);
  @include glacial();
  transition: color 250ms ;

  &:after {
    display: block;
    content: '';
    border-bottom: rem(1px) solid $blue;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &:hover {
    color: $blue;
  }

  &:hover:after {
    transform: scaleX(1);
  }
}

.navItem {
  margin-left: rem(40px);
}
