@import "../../scss/config/mixins";
@import "../../scss/config/function";
@import "../../scss/config/variables";

.header {
  width: 100%;
  height: rem(80px);
  box-shadow: 0 0 rem(10px) rem(-7px) $black;
  position: absolute;
  z-index: 1001;
}

.header_fixed {
  @extend .header;
  position: fixed;
  background-color: rgba($white, 0.9);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 rem(20px) rem(-5px) $black;
}

.container {
  display: flex;
  align-items: center;
}

.logo_notVisible {
 display: none;
}

.nav {
  margin-left: auto;
  margin-right: rem(50px);

  @include tablets {
    margin-right: 0;
    order: 1;
    margin-left: 0;
  }
}

.list {
  display: flex;

  @include tablets {
    display: none;
  }
}

.themeMode {
  @include tablets {
    margin-left: auto;
    margin-right: rem(40px);
  }
}

.link {
  color: $black;
  font-size: rem(18px);
  @include glacial();
  transition: color 250ms ;

  &:after {
    display: block;
    content: '';
    border-bottom: rem(1px) solid $blue;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &:hover {
    color: $blue;
  }

  &:hover:after {
    transform: scaleX(1);
  }
}

.navItem {
  margin-left: rem(40px);
}
