@import "../../scss/config/mixins";
@import "../../scss/config/function";
@import "../../scss/config/variables";

.item {
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-bottom: rem(30px);
  cursor: pointer;
  flex: 0 0 25%;
  max-width: 25%;
  transition: all .3s;
  min-height: rem(150px);

  &:hover {
    fill: darken($white, 10%);
    transform: scale(1.1, 1.1);
  }

  @include tablets {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.innerBlock {
  border: rem(2px) solid $white;
  border-radius: rem(5px);
  @include flex();
  min-height: rem(150px);
}

.link {
  @include flex(column, space-around);
}

.img {
  width: rem(40px);
  height: rem(40px);
  fill: $white;
  margin-bottom: rem(20px);
}