@import "../../scss/config/mixins";
@import "../../scss/config/function";
@import "../../scss/config/variables";

.item {
  padding-right: rem(15px);
  padding-left: rem(15px);
  margin-bottom: rem(30px);
  cursor: pointer;
  flex: 0 0 25%;
  max-width: 25%;
  transition: all .3s;
  min-height: rem(150px);
  

  &:hover {
    transform: scale(1.03, 1.03);
  }

  @include tablets {
    flex: 0 0 50%;
    max-width: 50%;
  }
}

.link {
  border-radius: rem(5px);
  @include flex();
  min-height: rem(150px);
  transition: all .3s;
  background-color: $blue;

  &:hover {
    box-shadow: rem(0px) rem(34px) rem(47px) rem(-21px) $black;
    //0rem 2.125rem 2.9375rem -1.3125rem
  }
}

.innerBlock {
  @include flex(column, space-around);
  width: 100%;
  padding: rem(0px) rem(10px);
}

.img {
  width: rem(40px);
  height: rem(40px);
  fill: $white;
  margin-bottom: rem(10px);
}