@import "../../../scss/config/mixins";
@import "../../../scss/config/function";
@import "../../../scss/config/variables";

.home {
  background-color: $white;
  position: relative;
  //background-attachment: fixed;
  //background-position: 50%;
  //background-repeat: no-repeat;
  height: 100vh;
  min-height: rem(650px);
  overflow: hidden;
}

.container {
  @include flex();
  width: 100%;

  @include tablets {
    @include flex(column, space-evenly);
    padding-top: rem(80px) !important;
  }
}

.descGreeting {
  background-color: $blue;
  padding: rem(5px) rem(20px);
  border-radius: rem(20px) rem(20px) rem(20px) 0;
  display: block;
  width: rem(120px);
  text-align: center;
  margin-bottom: rem(10px);
}

.descGreetingText {
  color: $white;
  font-size: rem(16px);
}

.titleName {
  font-size: rem(45px);
  @include glacial(bold);
}

.profession {
  margin-bottom: rem(10px);
}

.markContainer {
  display: flex;
  align-items: center;
  margin-bottom: rem(10px);
}

.markImg {
  fill: $red;
  margin-left: rem(10px);
  width: rem(20px);
  height: rem(20px);
}

.markTitle {
  @include glacial();
  font-size: rem(18px);
}

.desc {
  @include tablets {
    @include flex(column);
  }
}

.myCvContainer {
  display: flex;
  align-items: center;
  margin-bottom: rem(50px);
}

.myCvTitle {
  @include glacial();
  font-size: rem(18px);
}

.openFileImg {
  margin-left: rem(10px);
  width: rem(22px);
  height: rem(25px);
  fill: $blue;
  transition: all .3s;

  &:hover {
    fill: lighten($blue, 10%);
    transform: scale(1.1, 1.1);
  }
}

.list {
  display: flex;
}

.desc, .img {
  width: 50%;

  @include tablets {
    width: 100%;
  }
}

.img {
  display: flex;
  justify-content: center;
  align-items: center;

  @include tablets {
    margin-bottom: rem(60px);
  }
}

.imgPic {
  max-width: 70%;

  @include tablets {
    width: 40%;
  }

  @include phones {
    width: 60%;
  }
}

.arrowDown {
  position: absolute;
  z-index: 100;
  bottom: 0;
  margin-bottom: rem(30px);
}


