@import "../../../scss/config/mixins";
@import "../../../scss/config/function";
@import "../../../scss/config/variables";

.home {
  background-color: $white;
  position: relative;
  background-attachment: fixed;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  min-height: rem(650px);
  overflow: hidden;
}

.container {
  @include flex(column, flex-start);
  width: 100%;
}

.descContainer {
  margin-top: rem(140px);
  text-align: center;
  background-color: rgba($white, 0.5);
  border-radius: rem(5px);
  padding: rem(20px);

  @include tablets {
    margin-top: rem(120px);
  }
}

.profession {
  margin-bottom: rem(10px);
}

.desc {
  margin-bottom: rem(10px);
}

.descText {
  @include glacial();
  font-size: rem(18px);
}

.linksContainer {
  @include flex(row, space-between, center);
}

.link {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  transition: all .3s;

  &:hover {
    fill: lighten($blue, 10%);
    transform: scale(1.1, 1.1);
  }
}

.myCvTitle {
  @include glacial(bold);
  margin-right: rem(10px);
  color: $blue;
}

.openFileImg {
  width: rem(20px);
  height: rem(20px);
  fill: $blue;
}

.list {
  display: flex;
}

.descContainer {
  width: 60%;

  @include tablets {
    width: 85%;
  }

  @include phones {
    width: 100%;
  }
}

.arrowDown {
  position: absolute;
  z-index: 100;
  bottom: 0;
  margin-bottom: rem(30px);
}


