@import "../../scss/config/mixins";
@import "../../scss/config/function";
@import "../../scss/config/variables";

.messageImageContainer {
  margin-bottom: rem(100px);
  @include flex(column);
}

.messageImg {
  margin-bottom: rem(10px);
  width: rem(100px);
}

.messageText {
  text-align: center;
  margin-top: rem(10px);
}

.messageText_error {
  @extend .messageText;
  color: $red;
}

.form {
  @include flex(column);
  height: 100%;
  width: 100%;
  margin-top: (-60px);
}

.label {
  min-height: rem(60px);
  width: 80%;
  @include flex(column, flex-end);
  margin-bottom: rem(20px);

  @include tablets {
    width: 60%;
  }

  @include phones {
    width: 90%;
  }
}

.errorTextContainer {
  display: flex;
  width: 100%;
}

.errorText {
  font-size: rem(14px);
  color: $red;
}

.input {
  padding: rem(10px);
  outline: none;
  transition: all .3s;
  @include placeColor($blue);
  border-radius: rem(5px);
  width: 100%;
  border: rem(1px) solid $blue;

  &:focus {
    box-shadow: 0 0 rem(10px) rem(-3px) $blue;
  }
}

.inputError {
  @extend .input;
  @include placeColor($red);
  border: rem(1px) solid $red;
  &:focus {
    box-shadow: 0 0 rem(10px) rem(-3px) $red;
  }
}

.labelTextarea {
  @extend .label;
  min-height: rem(170px);
}

.textarea {
  padding: rem(10px);
  outline: none;
  resize: none;
  height: rem(150px);
  transition: all .3s;
  border: rem(1px) solid $blue;
  @include placeColor($blue);
  border-radius: rem(5px);
  width: 100%;
  &:focus {
    box-shadow: 0 0 rem(10px) rem(-3px) $blue;
  }
}

.textareaError {
  @extend .textarea;
  @include placeColor($red);
  border: rem(1px) solid $red;

  &:focus {
    box-shadow: 0 0 rem(10px) rem(-3px) $red;
  }
}

.buttonsContainer {
  width: 80%;
  @include flex($justify: space-between);

  @include tablets {
    width: 60%;
  }

  @include phones {
    width: 90%;
    @include flex(column);
    margin-bottom: rem(40px);
  }
}
